.Container {
  background-color: var(--background-pattern-7);
  padding: 44px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerTop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-1);
  margin-bottom: 30px;
}

.ContainerLogo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ContainerLogo img {
  width: 40px;
}

.ContainerLogo div {
  color: var(--color-text-1);
  font-size: 1.5px;
}

.ContainerLogoTitulo {
  max-width: 300px;
  width: 20vw;
}

.ContainerLogoTitulo img {
  width: 40px;
}

.ContainerLogoTitulo div {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-text-1);
  font-size: 1.5px;
  margin-bottom: 15px;
}

.ContainerLogoTituloText {
  color: var(--color-text-5);
  margin-bottom: 30px;
}

.UlSocialMedias {
  display: flex;
  list-style: none;
  padding: 5px 20px;
  justify-content: space-around;
}

.LiSocialMedias {
  width: 30px;
  height: 30px;
  background-color: var(--background-pattern-8);
  border-radius: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ContainerPrincipal {
  display: flex;
  color: var(--color-text-1);
  margin-left: 50px;
}

.ContainerPrincipalColuns {
  max-width: 300px;
  width: 20vw;
}

.ContainerPrincipalColunsTitle {
  color: var(--color-text-1);
  font-weight: 700;
  font-size: 1.25rem;
}

.ContainerPrincipalUl {
  color: var(--color-text-6);
  list-style: none;
  padding: 0;
  margin-top: 15px;
  margin-right: 50px;
}

.ContainerPrincipalColunsLi {
  margin-bottom: 20px;
}

.ContainerPrincipalColunsLi:hover {
  cursor: pointer;
  color: var(--color-text-1);
  font-weight: 500;
}

.ContainerBottom {
  display: flex;
  width: 100%;
}

.Copyright {
  margin-right: auto;
  color: var(--color-text-1 );
}

.ContainerBottomLinks {
  display: flex;
  gap: 20px;
  margin-right: 50px;
  color: var(--color-text-6);
}

.ContainerBottomLinks p:hover {
  cursor: pointer;
  color: var(--color-text-1);
  font-weight: 500;
}

@media (max-width: 900px) {
  .ContainerTop, .ContainerPrincipal {
    flex-direction: column;
    gap: 50px;
    width: 90%;
  }

  .ContainerLogoTitulo {
    width: 100%;
    max-width: 100%;
  }

  .ContainerPrincipalColuns {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .ContainerBottom {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .Copyright, .ContainerBottomLinks {
    margin-right: 0px;
  }
}